africastalking==1.1.7
appdirs==1.4.3
attrs==19.3.0
awsebcli==3.16.0
blessed==1.15.0
boto3==1.10.28
botocore==1.13.28
braintree==3.55.0
cached-property==1.5.1
cement==2.8.2
certifi==2019.6.16
chardet==3.0.4
colorama==0.3.9
contextlib2==0.5.5
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.20
django-appconf==1.0.3
django-axes==4.5.4
django-cors-headers==3.0.2
django-crispy-forms==1.7.2
django-filter==2.1.0
django-heroku==0.3.1
django-ipware==2.1.0
django-rest-auth==0.9.5
django-session-timeout==0.0.4
django-storages==1.7.1
djangorestframework==3.9.4
djangorestframework-api-key==0.3.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.3.0
djangorestframework-stubs==1.0.0
docker==3.7.3
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
future==0.16.0
gunicorn==19.9.0
idna==2.7
isodate==0.6.0
jmespath==0.9.4
jsonschema==2.6.0
lxml==4.4.1
M2Crypto==0.35.2
Markdown==3.1.1
mysqlclient==1.4.2.post1
netfilter==0.6.4
pathspec==0.5.9
Pillow==6.1.0
pipenv==2018.11.26
pkg-resources==0.0.0
psycopg2==2.7.7
psycopg2-binary==2.8.3
pyasn1==0.4.7
pycrypto==2.6.1
pycryptodome==3.9.0
PyJWT==1.7.1
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
requests==2.20.1
requests-toolbelt==0.9.1
rsa==4.0
s3transfer==0.2.1
schema==0.7.0
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
termcolor==1.1.0
texttable==0.9.1
twilio==6.29.1
urllib3==1.24.3
virtualenv==16.7.5
virtualenv-clone==0.5.3
wcwidth==0.1.7
websocket-client==0.56.0
whitenoise==4.1.2
x509==0.1
zeep==3.4.0
