<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-building"></i>
            <span>Application</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'webapp:applications' %}"><i class="fa fa-circle-o"></i> Applications</a></li>
            <li><a href="{% url 'webapp:approved_applications' %}" ><i class="fa fa-circle-o"></i> Approved Applications</a></li>
        </ul>
    </li>



</ul>