<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="student_name" placeholder="Student Name">
    <br/>
    <input type="hidden" name="auth_user" value="{{ request.user }}">
    <input name="address" placeholder="Address" type="text">
    <br/>
    <input name="email" placeholder="email" type="email">
    <br/>
    <input name="phone_number" placeholder="Phone" type="text">
    <br/>
    <input name="birth_certificate" type="file" placeholder="attach cert">
    <br/>
    <input name="id_no" type="file" placeholder="attach id">
    <br/>
    <input name="school_name" type="text" placeholder="School Name">
    <br/>
     <input name="school_address" type="text" placeholder="School Address">
    <br/>
    <input name="academic_level" type="text" placeholder="Academic Level">
    <br/>
    <input name="recommendation_reason" type="text" placeholder="Reason">
    <br/>
    <input name="recommendation_letter" type="file" placeholder="Letter">
    <br/>
    <input type="submit" value="submit">
</form>
</body>
</html>